<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post-page</title>
</head>
<body>
    <h1>DIY Platform</h1>
     <% if (errorsArray.length > 0){ %>
            <ul><% for(let i = 0; i < errorsArray.length; i++){ %>
                    <li><%=errorsArray[i]%></li>
                <% } %>
            </ul>
        <%}%>
        <form method="POST" action="/posts/<%=post.id%>/edit">
            <label for="title">title</label>
            <input type="text" id="title" name="title" value="<%=post.title%>"> <br><br>

            <label for="author" >Author</label>
            <select id="author" name="author">
                <option value="">Please Select</option>
                    <% for(let i=0; i < author.length; i++ ){ %>
                    <% const element = author[i] %>
                    <option value= "<%=element.id%>" <%= (post.authorName === element.fullName) ? 'selected' : '' %>> <%=element.fullName%> </option>
                    <%}%>
            </select>

            <label for="difficulty">difficulty</label>
            <select id="difficulty" name="difficulty">
                <option value="">Please Select</option>
                <option value="Easy" <%= (post.difficulty === 'Easy') ? 'selected' : '' %>>Easy</option>
                <option value="Medium" <%= (post.difficulty === 'Medium') ? 'selected' : '' %>>Medium</option>
                <option value="Hard" <%= (post.difficulty === 'Hard') ? 'selected' : '' %>>Hard</option>
            </select> <br><br>

            <label for="estimatedTime" >Estimated Time</label>
            <input type="number" id="estimatedTime" name="estimatedTime" value="<%=post.estimatedTime%>"> <br><br>

            <label for="imageUrl" >Image URL</label>
            <input type="text" id="imageUrl" name="imageUrl" value="<%=post.imageUrl%>"> <br><br>

            <label for="createdDate" >Created Date</label>
            <input type="date" id="createdDate" name="createdDate" value="<%=post.formatCreatedDate%>"> <br><br>

            <p><label for="description">Description</label></p>
            <textarea id="description" name="description" rows="4" cols="50"><%=post.description%></textarea>
            <br>
            <input type="submit" value="Submit">       

        </form>
        
</body>
</html>